<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    section{
        height: 70vh;
        border: 1px solid black;
    }
    .listItems{
        height: 50%;
        border: 2px solid red;
    }
    ol{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    li{
        font-size: 24px;
    }
    .bookNow{
        margin-left: 70px;
        margin-bottom: 5px;
    }
</style>
<body>
    <h1>Booking </h1>
    <section>
        <!-- <div class="listItems">
            <ol>
                <li></li>
            </ol>
        </div> -->
    </section>
    <script src="/booking.js"></script>
</body>
</html>